.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 3%;
}
.item{
  flex-grow:0;
  flex-shrink:0;
  margin-bottom:0;
  margin-top: 2.5%;
}

/* Whole document */
body{
  min-width: 30%;
  max-width: 40em;
  /*max-width: 37em;*/
  margin: auto;
  font-size: 11pt;
  font-family: Helvetica;
  padding-bottom: 2.5%;
}

/* Headers */
h1{
  font-size: 24pt;
}
h2{
  font-size: 11pt;
  font-family: Helvetica;
  font-weight: bold;
}
h3{
  font-size: 11pt;
  font-family: Helvetica;
  /* font-weight: 400;
  margin-top: 0;
  padding-bottom: 10px; */
}

/* Images */
img {
  padding: 5% 0% 5% 0%;
  width: 500px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Bullets */
ul {
  list-style-type: none;
}
ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 
}
li {
  margin-left: -10pt;
}