/* Whole document */
body{
  font-family: arial;
  font-weight: lighter;
  font-size: 10.25pt;
  min-width: 30%;
  /* max-width: 45em; */
  max-width: 46em;
  margin: auto;
}

/* Headers */
h1{
  color: black;
  font-family: arial;
  font-size: 18pt;
  font-weight: 400;
}
h2{
  color: black;
  font-family: arial;
  font-size: 14pt;
  font-weight: 400;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}
h3{
  font-family: arial;
  font-weight: lighter;
  font-size: 12pt;
}

@counter-style dash {
  system: cyclic;
  symbols: "–";
  suffix: " ";
}

/* Bullets */
ul {
  list-style-type: none;
}
ul ul{
  list-style-type: none;
}

ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 
}

li {
  margin-left: -15pt;
}

img {
  padding: 5% 2.5% 1% 0%;
  width: 60%;
  /* min-width: 35rem; */
  min-width: 38rem;
}
