.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 3%;
}
.item{
  flex-grow:0;
  flex-shrink:0;
  margin-bottom:0;
  margin-top: 2.5%;
}
     
/* Whole document */
body{
  min-width: 30%;
  max-width: 44em;
  margin: auto;
  font-size: calc(10pt + 0.1vw);
  padding-bottom: 2.5%;
}

a:hover{
  color:darkblue;
}

/* Headers */
h1{
  font-size: 24pt;
}
h2{
  font-size: calc(10pt + 0.1vw);
  font-family: Helvetica;
  font-weight: bold;
}
h3{
  font-size: 12pt;
  font-family: Helvetica;
  /* font-weight: 400;
  margin-top: 0;
  padding-bottom: 10px; */
}

/* Images */
img {
  padding: 7% 0% 5% 0%;
  width: 450px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Bullets */
ul {
  list-style-type: none;
}
ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em; 
}
li {
  margin-left: -10pt;
}